.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

h1{
    text-align: center;
    font-size: 40px
}

a{
    margin: 10px;
    color: black;
    font-size: 20px;
}

.first_block {
    background-image: url("./images/Cookbook_backgroud.jpg");
    background-repeat: no-repeat;
    
    
    
    

}