.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

h1{
    text-align: left;
    font-size: 40px;
    color: gold;
}

a{
    margin: 10px;
    color: black;
    font-size: 20px;
}

.first_block {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./images/cookingbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}